<div class="col-sm-offset-6 col-sm-6">
  <h2>Log in</h2>
</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>
  <div class="form-group">
    <%= f.label :email, class: "col-sm-4 control-label" %>
    <div class="col-sm-6">
      <%= f.email_field :email, class: "form-control", autofocus: true %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password, class: "col-sm-4 control-label" %>
    <div class="col-sm-6">
      <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
    </div>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="form-group">
      <%= f.check_box :remember_me%>
      <%= f.label :remember_me, class: "col-sm-4 control-label" %>
    </div>
  <% end -%>

  <div class="actions">
    <div class="col-sm-offset-4 col-sm-6">
      <%= f.submit "Log in", class: "btn btn-primary", id: "login_btn"%>
    </div>
  </div>
<% end %>

<div class="form-group">
    <div class="col-sm-offset-4 col-sm-6">
        <%= render "devise/shared/links" %>
    </div>
</div>
