<div class = "panel panel-info">
   <div class = "panel-heading">
      <h3 class = "panel-title">Orders From Customers</h3>
   </div>

   <div class = "panel-body">
     <div>
       user_id: <%= customerhire.user_id %>
       </br>
       items :<%= customerhire.no_items %>
       </br>
       restaurant_name:<%= customerhire.restaurant_name %>
       </br>
       Address2: <%= customerhire.restaurant_address2 %>
       </br>
       Address Pin: <%= customerhire.restaurant_pin%>
     </div>
   </div>
</div>
