<div class = "panel panel-info">
    <div class = "panel-heading">
        <h3 class = "panel-title">Orders From Customers</h3>
    </div>

    <div class = "panel-body">
        <div class="col-md-12">
            <div class="col-md-9">
                customerhire id <%= customerhire.id %>
                user_id: <%= customerhire.user_id %>
                </br>
                items :<%= customerhire.no_items %>
                </br>
                restaurant_name:<%= customerhire.restaurant_name %>
                </br>
                Address2: <%= customerhire.restaurant_address2 %>
                </br>
                Address Pin: <%= customerhire.restaurant_pin%>
            </div>
            <% if customerhire.order_status == "open" %>
                <div class="col-md-3">
                    <%= form_tag("/accept", method: "post") do %>
                      <%= hidden_field_tag 'id', customerhire.id %>
                      <div class="actions">
                        <div>
                            <%= submit_tag("Accept") %>
                        </div>
                      </div>
                    <% end %>
                </div>
            <% elsif customerhire.order_status == "accepted" %>
                <div class="col-md-3">
                    <%= form_tag("/cancel", method: "post") do %>
                      <%= hidden_field_tag 'id', customerhire.id %>
                      <div class="actions">
                        <div>
                            <%= submit_tag("Cancel") %>
                        </div>
                      </div>
                    <% end %>
                </div>

                <div class="col-md-3">
                    <%= form_tag("/delivered", method: "post") do %>
                      <%= hidden_field_tag 'id', customerhire.id %>
                      <div class="actions">
                        <div>
                            <%= submit_tag("delivered") %>
                        </div>
                      </div>
                    <% end %>
                </div>
            <% end %>

        </div>
    </div>
</div>
