<div class = "panel panel-info">
    <div class = "panel-heading">
        <h3 class = "panel-title">Order from <%= User.find(customerhire.user_id).first_name %> </h3>
    </div>

    <div class = "panel-body">
        <div class="col-md-12">
            <div class="col-md-9">
                Items :<%= customerhire.no_items %>
                </br>
                Restaurant_name:<%= customerhire.restaurant_name %>
                </br>
                Address2: <%= customerhire.restaurant_address2 %>
                </br>
                Address Pin: <%= customerhire.restaurant_pin%>
            </div>
            <% if customerhire.order_status == "open" %>
                <div class="col-md-3">
                    <%= form_tag("/accept", method: "post") do %>
                      <%= hidden_field_tag 'id', customerhire.id %>
                      <div class="actions">
                        <div>
                            <%= submit_tag("Accept" , class: "btn btn-md btn-success") %>
                        </div>
                      </div>
                    <% end %>
                </div>
            <% elsif customerhire.order_status == "accepted" %>
                <div class="col-md-3">
                  <div class="col-md-6">
                    <%= form_tag("/cancel", method: "post") do %>
                      <%= hidden_field_tag 'id', customerhire.id %>
                      <div class="actions">
                        <div>
                            <%= submit_tag("Cancel",class: "btn btn-md btn-danger") %>
                        </div>
                      </div>
                    <% end %>
                  </div>

                  <div class="col-md-6">
                    <%= form_tag("/delivered", method: "post") do %>
                      <%= hidden_field_tag 'id', customerhire.id %>
                      <div class="actions">
                        <div>
                            <%= submit_tag("delivered",class: "btn btn-md btn-primary") %>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
            <% end %>

        </div>
    </div>
</div>
