<div class="col-sm-offset-6 col-sm-6">
  <h2>driverdetails</h2>
</div>
<%= form_for(@driverdetail, html: {class: 'form-horizontal'}) do |f| %>

  <div class="form-group">
    <%= f.label :vehicle_no, "Vehicle Number", class: "col-sm-4 control-label" %>
    <div class="col-sm-6">
      <%= f.text_field :vehicle_no, class: "form-control", autofocus: true %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :license_id, class: "col-sm-4 control-label" %>
    <div class="col-sm-6">
      <%= f.text_field :license_id, class: "form-control", autofocus: true %>
    </div>
  </div>

  <div class="actions">
    <div class="col-sm-offset-4 col-sm-6">
      <%= f.submit "Submit", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
